.Machine {
    margin: auto;
    width: 350px;
    outline-style: solid;
    outline-color: #B87253;
    background:
    linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url('media/noise.svg');
}
